{% extends 'base.html.twig' %}

{% block title %}Event{% endblock %}

{% block body %}
    <h1>Event</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ event.id }}</td>
            </tr>
            <tr>
                <th>NomOrg</th>
                <td>{{ event.nomOrg }}</td>
            </tr>
             
                
            <tr>
                <th>Date debut</th>
                <td>{{ event.datedebut ? event.datedebut|date('Y-m-d') : '' }}</td>
            </tr>
             <tr>
                <th>Date fin</th>
                <td>{{ event.datefin ? event.datefin|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Affiche</th>
                <td>{{ event.affiche }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ event.adresse }}</td>
            </tr>
            <tr>
                <th>NbrPlace</th>
                <td>{{ event.nbrPlace }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_event_index') }}">back to list</a>

    <a href="{{ path('app_event_edit', {'id': event.id}) }}">edit</a>

    {{ include('event/_delete_form.html.twig') }}
{% endblock %}
