{% extends 'baseback.html.twig' %}

{% block title %}Event details{% endblock %}

{% block body %}
    <h1>{{ event.nomOrg }} - Détails</h1>
    <p>Date : {{ event.datedebut|date('d/m/Y') }}</p>
    <p>Date : {{ event.datefin|date('d/m/Y') }}</p>
    <p>Adresse : {{ event.adresse }}</p>
    <p>Nombre de places : {{ event.nbrPlace }}</p>

    <h2>Participants</h2>
    <ul>
        {% for participant in participants %}
            <li>{{ participant.nom }} {{ participant.prenom }}</li>
        {% endfor %}
    </ul>

    <a href="{{ path('app_event_back_index') }}">Retour à la liste des événements</a>
{% endblock %}
