{% extends 'baseback.html.twig' %}


  

{% block body %}
  <form method="get" action="{{ path('app_portfolio_back_index') }}">
  <div class="search-box">
    <input type="text" id="q" name="q" value="{{ query }}" placeholder="Search...">
    <button type="submit"><i class="fa fa-search"></i> search</button>
  </div>
</form>
        {% for portfolio in portfolios %}
       
           <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

                   <div class="container-xxl flex-grow-1 container-p-y">
              <div class="row">
                <div class="col-lg-8 mb-4 order-0">
                  <div class="card">
                    <div class="d-flex align-items-end row">
                      <div class="col-sm-7">
                        <div class="card-body">
                          <h5 class="card-title text-primary">Portfolio</h5>
                          <p class="mb-4">
        <h2 style="color: black">{{ portfolio.getTitre() }}</h2>
         <img src="{{ asset('uploads/portfolio/images/' ~ portfolio.image) }}" alt="{{ portfolio.titre }}" style="max-width: 20%; border-radius: 20px;">
             <h4 style="color: black">{{ portfolio.getDescription() }}</h4>
           <i class="fa-solid fa-thumbs-up"></i> <span> number of Likes: <strong>{{ portfolio.getLikes() }}</strong></span>
      <div>  <a href="{{ path('app_portfolio_back_show', {'id': portfolio.id}) }}" class="btn btn-secondary">Show</a>
</div>
                          </p>

                  
                        </div>
                      </div>
                 
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
            
              </div>
            </div>
        
            <div class="content-backdrop fade"></div>
          </div>
      
        </div>
      
      </div>

      
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
     </div>

        
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
      {

{% endblock %}
